# Core
streamlit
fastapi
uvicorn
pydantic
python-dotenv
loguru

# AI & RAG
openai
langchain_openai
langgraph
langchain_text_splitters
chromadb
sentence-transformers
transformers
torch

# Utils & Data
pymupdf
plotly
markdown
tqdm
Pillow
httpx